.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.page-button {
  width: 36px;
  height: 28px;
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: var(--line-height-lg);
  background: #ebebeb;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  user-select: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.page-button.active {
  background: var(--color-primary);
  color: var(--color-white);
}
