.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.header {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.header span:first-child {
  color: #969eb0;
}

.header span:last-child {
  color: var(--color-primary);
}
