.container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 10px 0px #98adc91a;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  white-space: nowrap;
}
