.container {
  flex: 1;
}

.month-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5px 8px;
}

.month-name,
.weekday,
.day {
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: var(--line-height-xs);
  text-align: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 4px;
  border-bottom: 1px solid #f2f2f2;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--spacing-xs);
  padding: 2px 0;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  min-width: 0;
}

.disabled {
  cursor: not-allowed;
  color: var(--color-text-light);
}
