.header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 19px var(--spacing-xl);
}

.left-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: var(--line-height-lg);
  color: var(--color-primary);
}

.right-content {
  display: flex;
  gap: 25px;
  align-items: center;
}

.update-status {
  display: flex;
  gap: 10px;
  align-items: center;
}

.update-text {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: var(--line-height-lg);
  color: var(--color-text-muted);
}

.mins-ago {
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: var(--line-height-lg);
  color: var(--color-primary);
}
