.wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.filter-dropdown {
  width: 130px;
  height: 36px;
}

.filter-input {
  padding: 8px 10px;
}

.date-dropdown {
  width: 170px;
  height: 36px;
}

.date-input {
  padding: 8px var(--spacing-sm);
  border-radius: var(--border-radius-md);
}
