.user-avatar {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: var(--line-height-lg);
  color: var(--color-text-main);
}

.user-role {
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: var(--line-height-sm);
  color: var(--color-text-main);
}
