.nav-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: 15px var(--spacing-md);
  transition: all 0.2s ease;
}

.nav-item.active,
.nav-item:hover {
  background-color: var(--color-primary-hover);
  border-radius: var(--border-radius-md);
}

.label {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: var(--line-height-lg);
}
