.table-container {
  width: 100%;
}

.table-body {
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-body::-webkit-scrollbar {
  display: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.thead-row {
  padding: 15px 0;
  background-color: #f8f8fc;
  border-radius: 10px;
}

.tbody-row {
  padding: 10px 0;
  border-bottom: 1px solid #ededf7;
}

.cell {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-flag {
  height: 16px !important;
  width: auto !important;
}

.risk-badge {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 13px;
  display: inline-block;
  white-space: nowrap;
}

.suspicious {
  background-color: #ff8a0021;
  color: #ff8a00;
}

.moderate {
  background-color: #ea580c21;
  color: #ea580c;
}

.critical {
  background-color: #ef444421;
  color: #ef4444;
}
